
.ms_logo-sony{
    max-width: 75px;
}

.ms-font{
    font-family: sans-serif;
}
#ms_jumbo{
    background-image: url('../img/jumbo-bg.png');
    background-size:cover;
    background-position: center; 
    padding-top: 300px;
}
main{
    margin-top: 120px;
}

.ms_jumbo-btn{
    background: color #cd3d0f;
}

/* ms_playstation */
.ms_ps-text{
    padding-top: 300px;
    
}

/* ms_it-takes-tow */
.ms_it-takes-tow{
    background-size:cover;
    background-position: center;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg );
}